In [15]:
from datetime import datetime

date = datetime.strptime("12MAR25", "%d%b%y")

print(date.month)

3

In [1]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
data = {'NIFTY29MAR2317700CE': {'': '', 'Symbol': 'NIFTY29MAR2317700CE', 'Date': '3/8/2023', 'Time': '15:30:00', 'Open': '243', 'High': '243', 'Low': '243', 'Close': '243', 'Volume': '3501650', 'Open Interest': '1711000', 'TickTime': '3/8/2023 15:30', 'expiry': '29MAR23'}}

In [6]:
print(data)

{'NIFTY29MAR2317700CE': {'': '', 'Symbol': 'NIFTY29MAR2317700CE', 'Date': '3/8/2023', 'Time': '15:30:00', 'Open': '243', 'High': '243', 'Low': '243', 'Close': '243', 'Volume': '3501650', 'Open Interest': '1711000', 'TickTime': '3/8/2023 15:30', 'expiry': '29MAR23'}}

{456, 123}

In [5]:
x = "atm + 1"

print(x.__contains__("+" or "-"))

ind = x.find("+" or "-")

print(x[ind])

True
+

In [6]:
def take_closest(target, num_list):
    """Return the closest number from the given list to the target."""
    return min(num_list, key=lambda x: abs(float(x) - target))

def get_spot_prices_and_expires(data, index, entry_time,  extract_expiry, spot_price_rows):
    strikescall = []
    strikesput = []
    weekly_exps = []
    monthly_exps = []
    

    spot_price = None
    for row in spot_price_rows:
        if row["Time"] == entry_time:
            spot_price = float(row["Open"])
            # print("Spot_price =", spot_price)
            break

    for block in data:
        if block[0]["Symbol"][-2:] == "CE":
            for row in block:
                strike_price = row["Symbol"].replace(index, "").replace("CE", "")[7:]
                strikescall.append(strike_price)
            
            weekly_exp, monthly_exp = extract_expiry(block, index, "CE")
            weekly_exps.append(weekly_exp)
            monthly_exps.append(monthly_exp)

        elif block[0]["Symbol"][-2:] == "PE":
            for row in block:
                strike_price = row["Symbol"].replace(index, "").replace("CE", "")[7:]
                strikesput.append(strike_price)

            weekly_exp, monthly_exp = extract_expiry(block, index, "PE")
            weekly_exps.append(weekly_exp)
            monthly_exps.append(monthly_exp)

In [7]:
s = 12
d = 12.3

print(s+d)

24.3

In [11]:
def write_in_jsonFile(result, outputpath, fileName):
    import json
    jsondata = json.dumps(result, indent=4)
    with open(f"./{outputpath}/{fileName}.json", "w") as file:
        file.write(jsondata)

In [12]:
write_in_jsonFile(d, "outputdata", "data")

In [13]:
def add_keys_nested_dict(d, keys):
	for key in keys:
		if key not in d:
			d[key] = {}
		d = d[key]
	d.setdefault(keys[-1], 1)


# initializing dictionary
test_dict = {'GFG': {'rate': 4, 'since': 2012}}

# printing original dictionary
print("The original dictionary is: " + str(test_dict))

# Add keys to nested dictionary using for loop
add_keys_nested_dict(test_dict, ['GFG', 'rank'])

# printing result
print("Dictionary after nested key update: " + str(test_dict))

The original dictionary is: {'GFG': {'rate': 4, 'since': 2012}}
Dictionary after nested key update: {'GFG': {'rate': 4, 'since': 2012, 'rank': {'rank': 1}}}

In [1]:
path = "dataset/2405236.csv"
date = "2405236"

if path in date:
    print("YES")

In [10]:
from datetime import datetime

datetime.strftime(datetime.strptime("3/8/2023", "%d/%m/%Y"), "%d%b%y").upper()

'03AUG23'

In [14]:
def get_var_name(var):
    for name, value in globals().items():
        if value is var:
            return name
        
java = []

print(get_var_name(java))

java

In [9]:
from datetime import datetime
import time

l = ["11:10:00", "12:30:00"]

def time_to_seconds(time_list: list, date_format):
    date_objs = [datetime.strptime(date, date_format) for date in time_list]
    convert_objs_to_seconds = [date for date in date_objs]
    time.mktime()

time_to_seconds(l, "%H:%M:%S")

TypeError: time.mktime() takes exactly one argument (0 given)

In [21]:
t = [2, 4]
itera = range(len(t) - 1)
print(itera)

range(0, 1)

In [63]:
from datetime import datetime, timedelta

entry_time = ["10:10:00", "10:20:00", "10:30:00"]
exit_time = ["11:10:00", "11:20:00", "11:30:00"]

def time_to_seconds(time_str: str) -> int:
    time_obj = datetime.strptime(time_str, "%H:%M:%S").time()
    return int(time_obj.hour) * 3600 + int(time_obj.minute) * 60 + int(time_obj.second)

entry_to_sec = [time_to_seconds(time) for time in entry_time]

print(entry_to_sec)

[36600, 37200, 37800]

In [60]:
def get_available_dates(date_range: list, date_format: str):
    """Generate a list of dates between a given range."""
    if len(date_range) > 2:
        print(date_range[2:], "out of range")
        raise "please enter a date in range of 2......"

    from_date = datetime.strptime(date_range[0], date_format)
    to_date = datetime.strptime(date_range[1], date_format)
    dates = []
    while from_date <= to_date:
        dates.append(datetime.strftime(from_date, date_format))
        from_date += timedelta(days=1)
    return dates